<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banana.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,146}</string>
                <key>spriteSourceSize</key>
                <string>{220,146}</string>
                <key>textureRect</key>
                <string>{{0,0},{220,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueberry.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,146}</string>
                <key>spriteSourceSize</key>
                <string>{220,146}</string>
                <key>textureRect</key>
                <string>{{220,0},{220,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cherry.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,146}</string>
                <key>spriteSourceSize</key>
                <string>{220,146}</string>
                <key>textureRect</key>
                <string>{{440,0},{220,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>durian.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,146}</string>
                <key>spriteSourceSize</key>
                <string>{220,146}</string>
                <key>textureRect</key>
                <string>{{660,0},{220,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grape.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,146}</string>
                <key>spriteSourceSize</key>
                <string>{220,146}</string>
                <key>textureRect</key>
                <string>{{0,146},{220,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>greenapple.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,146}</string>
                <key>spriteSourceSize</key>
                <string>{220,146}</string>
                <key>textureRect</key>
                <string>{{220,146},{220,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/Common.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{62,658},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{440,146},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/bullet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,108}</string>
                <key>spriteSourceSize</key>
                <string>{62,108}</string>
                <key>textureRect</key>
                <string>{{0,658},{62,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/enemy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,79}</string>
                <key>spriteSourceSize</key>
                <string>{120,79}</string>
                <key>textureRect</key>
                <string>{{574,658},{120,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{694,658},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{320,1170},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{384,1170},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{448,1170},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{512,1170},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{576,1170},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{640,1170},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{704,1170},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{768,1170},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{832,1170},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,1218},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{758,658},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{822,658},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{886,658},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{0,1170},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{64,1170},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{128,1170},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{192,1170},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/explosion9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{256,1170},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>images/hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,130}</string>
                <key>spriteSourceSize</key>
                <string>{186,130}</string>
                <key>textureRect</key>
                <string>{{64,1218},{186,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kiwi.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,146}</string>
                <key>spriteSourceSize</key>
                <string>{220,146}</string>
                <key>textureRect</key>
                <string>{{250,1218},{220,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lemon.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,146}</string>
                <key>spriteSourceSize</key>
                <string>{220,146}</string>
                <key>textureRect</key>
                <string>{{470,1218},{220,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mango.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,146}</string>
                <key>spriteSourceSize</key>
                <string>{220,146}</string>
                <key>textureRect</key>
                <string>{{690,1218},{220,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pitaya.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,146}</string>
                <key>spriteSourceSize</key>
                <string>{220,146}</string>
                <key>textureRect</key>
                <string>{{0,1364},{220,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>strawberry.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,146}</string>
                <key>spriteSourceSize</key>
                <string>{220,146}</string>
                <key>textureRect</key>
                <string>{{220,1364},{220,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>good.png</string>
            <key>size</key>
            <string>{952,1510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f04c3030683d70f87bc7ac94c2d2574f:bc67c108668fcc71b815ec9c45ab0146:b00867a1424943870527162cf0915272$</string>
            <key>textureFileName</key>
            <string>good.png</string>
        </dict>
    </dict>
</plist>
